.list-advantages-home {
  margin: 20px 0 30px;
}

.callback-section {
  background: #e6e6e6 url("../img/callback-bg1.png") no-repeat right center;
  background-size: 1207px;
  padding: 80px 0;
}

.construction-house {
  margin: 80px 0 70px;
}
.construction-house h2 {
  margin: 0 auto 20px;
}
.construction-house .section-subtext {
  max-width: 755px;
}

.check-list-section {
  background: #ebeaea url("../img/check-list-bg.png") no-repeat right bottom;
  background-size: 770px;
  padding: 60px 0;
}
.check-list-section h2 {
  margin: 0 0 30px;
  max-width: 500px;
}
.check-list-section__content {
  max-width: 690px;
  width: 100%;
}
.check-list-section .btn {
  margin: 24px 0 0;
}

.popular-projects {
  margin: 30px 0 40px;
}
.popular-projects .section-subtext {
  max-width: 620px;
  margin: 0 auto 30px;
}

.advantages-company {
  padding: 77px 0 10px;
}

.advantages-company-box {
  text-align: center;
  max-width: 205px;
  width: 100%;
  margin: 0 auto;
}
.advantages-company-box__icon {
  margin: 0 auto 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages-company-box h3 {
  min-height: 32px;
  margin: 0 0 20px;
  text-transform: uppercase;
  color: #0e63a6;
  font-weight: bold;
}

.callback-work {
  background: url("../img/callback-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 60px 0;
  color: #fff;
}
.callback-work h2 {
  color: #fff;
}
.callback-work__content {
  max-width: 500px;
}
.callback-work .section-subtext {
  margin: 20px 0 30px;
  max-width: 380px;
}

.callback-price {
  overflow: hidden;
  padding: 80px 0 90px;
  background: #fefefe url("../img/calculate-bg.png") no-repeat right center;
  background-size: 917px;
}
.callback-price__content {
  max-width: 515px;
}
.callback-price .section-subtext {
  max-width: 395px;
}

.link-page {
  margin: 10px auto 0;
  font-weight: bold;
  text-align: center;
}

.why-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why-box {
  text-align: center;
  margin: 0 110px 40px 0;
}
.why-box h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #0e63a6;
  font-size: 20px;
  margin: 0 auto 10px;
}
.why-box:last-child {
  margin: 0 0 40px;
}
.why-box__icon {
  margin: 0 auto 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sheme-work {
  padding: 40px 0 30px;
}
.sheme-work .credit-steps-wrapper {
  max-width: 850px;
}
.sheme-work .credit-steps-box {
  margin: 0 0 40px;
}
.sheme-work .credit-steps-box::after {
  top: 123px;
}
.sheme-work .credit-steps-box:first-child {
  margin: 0;
}
.sheme-work .credit-steps-box:first-child::after {
  background: url("../img/sheme-border1.png") no-repeat center;
  background-size: 100%;
  width: 314px;
  height: 120px;
  top: 45px;
  left: 213px;
}
.sheme-work .credit-steps-box:nth-child(2) {
  margin: -10px 0 38px auto;
}
.sheme-work .credit-steps-box:nth-child(2)::after {
  background: url("../img/sheme-border2.png") no-repeat center;
  width: 168px;
  height: 119px;
  left: -92px;
  top: 120px;
}
.sheme-work .credit-steps-box:nth-child(2) .credit-steps-box__body {
  max-width: 265px;
}
.sheme-work .credit-steps-box:nth-child(3)::after {
  background: url("../img/sheme-border4.png") no-repeat center;
  width: 397px;
  height: 98px;
}
.sheme-work .credit-steps-box:nth-child(3) .credit-steps-box__description {
  max-width: 225px;
}
.sheme-work .credit-steps-box:nth-child(4) {
  margin: 0 0 10px auto;
}
.sheme-work .credit-steps-box:nth-child(4)::after {
  background: url("../img/sheme-border3.png") no-repeat center;
  width: 191px;
  height: 91px;
  left: -116px;
}
.sheme-work .credit-steps-box:nth-child(4) .credit-steps-box__body {
  max-width: 265px;
}
.sheme-work .credit-steps-box:nth-child(5) {
  margin: 0 0 75px;
}
.sheme-work .credit-steps-box:nth-child(5)::after {
  background: url("../img/sheme-border5.png") no-repeat center;
  width: 397px;
  height: 135px;
}
.sheme-work .credit-steps-box:nth-child(5) .credit-steps-box__body {
  max-width: 230px;
}
.sheme-work .credit-steps-box:last-child {
  margin: 0 0 0 auto;
}
.sheme-work .credit-steps-box:last-child .credit-steps-box__body {
  max-width: 265px;
}
.sheme-work .credit-steps-box h3 {
  text-transform: none;
  font-size: 18px;
}
.sheme-work .credit-steps-box__body {
  padding-top: 15px;
  max-width: 255px;
}

.home-news {
  background: url("../img/news-home-bg.jpg") no-repeat center;
  background-size: cover;
}
.home-news .form {
  max-width: 324px;
  margin: 47px 0 0;
}
.home-news .form .btn-submit {
  margin: 48px 0 0;
}
.home-news .text-description {
  max-width: 314px;
  margin: 18px 0 0;
}

.home-content {
  max-width: 458px;
}

.news {
  margin: 70px 0 0;
}

.news-wrapper {
  width: 100%;
}

.new-box {
  width: 100%;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #dadada;
}
.new-box .btn {
  text-transform: none;
  padding: 14px 28px;
}
.new-box__head {
  margin: 0 0 15px;
}
.new-box__title {
  text-transform: uppercase;
  color: #0e63a6;
  font-weight: 500;
}
.new-box__title:hover {
  color: #212856;
}
.new-box__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.new-box__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 380px;
  width: 100%;
}
.new-box__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.new-box__content {
  width: calc(100% - 380px);
  padding: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.new-box__content .btn {
  margin: auto 0 0;
}
.new-box__content .box-text {
  color: #464646;
  margin: 0 0 50px;
  max-height: 216px;
  overflow: hidden;
}
.new-box:last-child {
  border: none;
  padding: 0;
  margin: 0;
}
.new-box .date {
  margin: 15px 0 10px;
  color: #464646;
}

.home-article {
  background: url("../img/article-home-bg.jpg") no-repeat center;
  background-size: cover;
}
.home-article .home-content {
  max-width: 600px;
  height: 100%;
}

.special-text {
  padding: 40px 96px 46px 16px;
  background: #e6e6e6;
  border-left: 3px solid #0e63a6;
}

.category-house {
  margin: 30px 0 0;
}
.category-house .row {
  margin: 0 -15px;
}

.category-house-box {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background: #dfdfdf;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
}
.category-house-box__img {
  position: relative;
  width: 100%;
  height: 260px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.category-house-box__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category-house-box__img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.52;
  background-color: #060606;
  width: 100%;
  height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}
.category-house-box__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 18px;
  z-index: 1;
  opacity: 0;
}
.category-house-box__body {
  width: 100%;
  background: #212856;
  padding: 22px 32px;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.category-house-box__title {
  max-width: 160px;
}
.category-house-box:hover .category-house-box__btn {
  opacity: 1;
}
.category-house-box:hover .category-house-box__img::before {
  height: 100%;
}

.type-variable-text {
  color: #0e63a6;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  max-width: 495px;
  text-transform: uppercase;
}

.type-object-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0 0;
}

.type-object-box {
  margin: 0 0 30px;
  max-width: 390px;
  width: 100%;
}
.type-object-box__img {
  width: 100%;
  height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e6e6e6;
  overflow: hidden;
  border-radius: 5px;
}
.type-object-box__body {
  padding: 30px 0 0;
  width: 100%;
}
.type-object-box__name {
  text-transform: uppercase;
  color: #0e63a6;
  font-weight: bold;
  margin: 0 0 20px;
}

.callback-article {
  background: #e6e6e6 url("../img/callback-bg2.png") no-repeat right center;
  background-size: 1348px;
  padding: 65px 0;
}
.callback-article .box-text {
  font-size: 22px;
}
.callback-article .callback-content {
  max-width: 455px;
}

.form-callback {
  margin: 30px 0 0;
  max-width: 324px;
}
.form-callback .btn-submit {
  border: none;
  padding: 17px 50px;
  text-transform: none;
}

.list-messangers-call {
  margin: 30px 0 0;
}
.list-messangers-call li {
  margin: 0 0 30px 0;
}
.list-messangers-call li:last-child {
  margin: 0;
}
.list-messangers-call-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  max-width: 228px;
  min-width: 228px;
  width: 100%;
  height: 51px;
  color: #fff;
  border-radius: 5px;
}
.list-messangers-call-link:hover {
  background: #212856;
  color: #fff;
}
.list-messangers-call__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  margin: 0 10px 0 0;
}

.link-whatsapp {
  background: #33ae4b;
}

.link-telegram {
  background: #34a4de;
}

.home-warranty {
  background: url("../img/warranty-home-bg.jpg") no-repeat center;
  background-size: cover;
}
.home-warranty .btn-callback {
  margin: 50px 0 0;
}
.home-warranty .list-advantages {
  margin: 40px 0;
}

.btn-call {
  padding: 16px 39px;
  background: rgba(0, 3, 25, 0.85);
}

.list-advantages {
  font-size: 18px;
}
.list-advantages li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 25px;
}
.list-advantages li:last-child {
  margin: 0;
}
.list-advantages__icon {
  width: 32px;
  margin: 0 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.warranty-house {
  overflow: hidden;
}
.warranty-house .container {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.warranty-house__content {
  max-width: 607px;
  min-width: 607px;
}
.warranty-house__img {
  max-width: 892px;
  min-width: 892px;
}
.warranty-house .box-text ul li {
  margin: 0;
}

.warranty-house-box {
  margin: 25px 0 0;
}
.warranty-house-box h3 {
  text-transform: uppercase;
  color: #0e63a6;
  font-weight: bold;
  margin: 0 0 15px;
}

.callback-warranty .callback-content {
  max-width: 515px;
}

.callback-content {
  width: 100%;
}

.works .container {
  max-width: 1170px;
}

.works-box {
  width: 100%;
}
.works-box__img {
  position: relative;
  width: 100%;
  height: 360px;
  overflow: hidden;
  z-index: 1;
  border-radius: 5px;
  background: #e6e6e6;
}
.works-box__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works-box__img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  opacity: 0.52;
  background-color: #060606;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.works-box__btn {
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px 30px;
}
.works-box__body {
  padding: 30px 0 0;
}
.works-box__name {
  font-size: 18px;
  font-weight: bold;
  color: #696969;
}
.works-box__name:hover {
  color: #212856;
}
.works-box .link-details {
  margin: 3px 0 0;
}
.works-box:hover .works-box__img::before {
  height: 100%;
}
.works-box:hover .works-box__btn {
  opacity: 1;
}

.link-details {
  color: #696969;
}
.link-details:hover {
  color: #0e63a6;
}

.home-about {
  background: url("../img/about-home-bg.jpg") no-repeat center;
  background-size: cover;
}
.home-about .home-content {
  max-width: 770px;
}

.about-advantages {
  padding: 60px 0 20px;
}

.about-advantages-box {
  width: 100%;
}
.about-advantages-box__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px;
}
.about-advantages-box__icon {
  margin: 0 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-advantages-box h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: #0e63a6;
}

.employee h2 {
  margin: 0 auto 32px;
}
.employee .section-subtext {
  margin: 0 auto 50px;
  max-width: 805px;
  font-size: 16px;
}

.employee-box {
  width: 100%;
  height: 445px;
  border-radius: 5px;
  background-color: #d6d6d6;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: #fff;
}
.employee-box__photo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.employee-box__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.employee-box__body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #212856;
  padding: 16px 25px 20px;
}
.employee-box__body p {
  margin: 0 0 7px 0;
}
.employee-box__body p:last-child {
  margin: 0;
}

.employee-slider {
  padding: 0 10px;
}
.employee-slider .slick-slide {
  padding: 0 25px;
}

.callback-about {
  background: #e6e6e6 url("../img/callback-bg3.png") no-repeat right center;
  background-size: 1211px;
}

.reviews-video .btn-all {
  margin: 0 auto;
}

.reviews-video-box {
  width: 100%;
}
.reviews-video-box img {
  width: 100%;
}

.home-services {
  background: url("../img/services-home-bg.jpg") no-repeat center;
  background-size: cover;
}
.home-services .home-content {
  max-width: 465px;
}
.home-services h1 {
  margin: 0 0 30px;
}

.services-section .section-subtext {
  margin: 0 auto 30px;
  max-width: 490px;
}

.service-box {
  width: 100%;
  border-radius: 5px;
  background-color: #dadada;
  overflow: hidden;
}
.service-box__img {
  width: 100%;
  height: 225px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service-box__img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  opacity: 0.52;
  background-color: #060606;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.service-box__btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}
.service-box:hover .service-box__img::before {
  height: 100%;
}
.service-box:hover .service-box__btn {
  opacity: 1;
}
.service-box__body {
  width: 100%;
  background: #212856;
  padding: 20px 15px;
}
.service-box__title {
  text-transform: uppercase;
  color: #fff;
}
.service-box__title:hover {
  color: #fff;
}

.advantages-services-box {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.advantages-services-box__icon {
  margin: 0 auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages-services-box h3 {
  text-transform: uppercase;
  color: #0e63a6;
  font-weight: bold;
  margin: 0 auto 25px;
}

.useful-articles-box {
  width: 100%;
}
.useful-articles-box__img {
  width: 100%;
  height: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 5px;
}
.useful-articles-box__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.useful-articles-box__body {
  width: 100%;
  padding: 20px 0 0;
}
.useful-articles-box__title {
  text-transform: uppercase;
  color: #0e63a6;
  font-weight: bold;
  margin: 0 0 14px;
}
.useful-articles-box__title:hover {
  color: #333;
}
.useful-articles-box .box-text {
  max-height: 156px;
  overflow: hidden;
  line-height: 1.25;
}
.useful-articles-box .link {
  margin: 10px 0 0;
}

.home-contacts {
  background: url("../img/contacts-home-bg.jpg") no-repeat center;
  background-size: cover;
}
.home-contacts .text-description {
  margin: 20px 0 30px;
  font-weight: 500;
  max-width: 344px;
}

.welcome .box-text {
  margin: 20px 0;
}

.welcome-map {
  width: calc(100% - 365px);
  height: 363px;
}
.welcome-map iframe {
  width: 100%;
  height: 100%;
}

.welcome-content {
  max-width: 365px;
  padding: 0 65px 0 0;
}

.contacts-box {
  margin: 0 0 50px;
  font-size: 18px;
  color: #343434;
}
.contacts-box h3 {
  margin: 0 0 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #0e63a6;
}

.home-category {
  background: url("../img/category-home-bg.jpg") no-repeat center;
  background-size: cover;
}
.home-category .home-content {
  max-width: 470px;
}
.home-category .form {
  margin: 30px 0 0;
}

.category-section {
  margin: 34px 0 0;
}
.category-section .nav-pagination {
  margin: 0 auto 0;
}
.category-section .tabs {
  margin: 0 0 30px;
}

.card-product {
  width: 100%;
}
.card-product__img {
  height: 360px;
}
.card-product__characteristics {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0 0;
}
.card-product__characteristics li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin: 0 20px 0 0;
}
.card-product__characteristics li:last-child {
  margin: 0;
}
.card-product__characteristics-icon {
  margin: 0 10px 0 0;
}
.card-product__body {
  padding: 30px 0 0;
  width: 100%;
}
.card-product__title {
  text-transform: uppercase;
  width: calc(100% - 150px);
  color: #0e63a6;
}
.card-product__title:hover {
  color: #212856;
}
.card-product__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: bold;
}

.category-filter-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
  font-weight: 100;
  color: #464646;
}
.category-filter-list li {
  border-radius: 3px;
  border: solid 1px #dadada;
  background-color: #f2f2f2;
  cursor: pointer;
  margin: 0 8px 9px 0;
  padding: 5.5px 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.category-filter-list li:hover {
  background: #212856;
  color: #fff;
}
.category-filter-list li:last-child {
  margin: 0 0 9px;
}

.home-credit {
  background: url("../img/credits-home-bg.jpg") no-repeat center;
  background-size: cover;
}

.payments-variable {
  margin: 50px 0 30px;
}

.list-bank {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0 0;
}
.list-bank li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 25px 20px 0;
}
.list-bank li:last-child {
  margin: 0 0 20px;
}

.payments-variable-card {
  width: 100%;
}
.payments-variable-card__head {
  padding: 0 10px 15px;
  font-weight: bold;
}
.payments-variable-card__val {
  font-size: 22px;
  margin: 10px 0 0;
  color: #0e63a6;
}
.payments-variable-card__title {
  text-transform: uppercase;
}
.payments-variable-card__img {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  height: 203px;
  background: #f8fcfd;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.payments-variable-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.payments-variable-card__body {
  width: 100%;
  min-height: 67px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding: 15px 10px;
  background: #0e63a6;
  color: #fff;
  text-transform: uppercase;
}
.payments-variable-card .btn {
  width: 100%;
  margin: 15px 0 0;
}

.about-credit {
  position: relative;
  padding: 75px 0 100px;
  z-index: 1;
}
.about-credit__img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 1071px;
  width: 100%;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-credit__content {
  max-width: 700px;
  width: 100%;
}

.about-credit-box {
  margin: 30px 0 0;
  max-width: 600px;
  width: 100%;
}
.about-credit-box h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #0e63a6;
}
.about-credit-box ul li {
  margin: 0;
}

.credit-steps-wrapper {
  margin: 0 auto;
  max-width: 930px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.credit-steps-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto 10px 0;
  position: relative;
  z-index: 1;
}
.credit-steps-box::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../img/border-step1.png") no-repeat center;
  background-size: 100%;
  top: 120px;
  left: 58px;
  width: 456px;
  height: 127px;
}
.credit-steps-box:nth-child(2) .credit-steps-box__body {
  max-width: 282px;
}
.credit-steps-box:nth-child(2)::after {
  background: url("../img/border-step2.png") no-repeat center;
  width: 226px;
  height: 148px;
  left: -148px;
  top: 125px;
}
.credit-steps-box:last-child::after {
  display: none;
}
.credit-steps-box:nth-child(even) {
  margin: 0 0 10px auto;
}
.credit-steps-box__icon {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  width: 117px;
  min-width: 117px;
  height: 117px;
  padding: 20px;
  background: rgba(33, 40, 86, 0.29);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.credit-steps-box__icon::before, .credit-steps-box__icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}
.credit-steps-box__icon::before {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: rgba(33, 40, 86, 0.61);
}
.credit-steps-box__icon::after {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background: #212856;
}
.credit-steps-box__body {
  width: calc(100% - 117px);
  padding: 30px 0 0 15px;
}
.credit-steps-box h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #0e63a6;
}
.credit-steps-box__description {
  margin: 10px 0 0;
  text-transform: uppercase;
}
.credit-steps-box .box-text {
  max-width: 282px;
  margin: 20px 0 0;
}
.credit-steps-box .btn {
  margin: 20px 0 0;
}

.question {
  padding: 40px 0;
}
.question h2 {
  max-width: 585px;
}

.panel_heading {
  width: 100%;
}

.panel_heading-question {
  max-width: 610px;
  margin: 0 0 14px;
}
.panel_heading-question .panel_heading-icon {
  width: 23px;
  min-width: 23px;
  height: 23px;
  margin: 0 10px 0 0;
  border: 1px solid #212856;
  border-radius: 50%;
  background: #212856;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.panel_heading-question .panel_heading-icon::before {
  content: "+";
  display: inline-block;
  color: #fff;
}
.panel_heading-question .panel_heading-icon.in .panel_heading-icon {
  background: transparent;
}
.panel_heading-question .panel_heading-icon.in .panel_heading-icon::before {
  content: "-";
  color: #212856;
}
.panel_heading-question:last-child {
  margin: 0;
}
.panel_heading-question .block_hover {
  color: #565756;
  padding: 13px 0 0 33px;
}
.panel_heading-question .block_hover .box-text p {
  margin: 0;
}
.panel_heading-question .block_hover .box-text ul {
  margin: 0 0 20px;
}
.panel_heading-question .block_hover .box-text ul li {
  margin: 0;
}

.block_title {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block_title h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #0e63a6;
}

.block_hover {
  display: none;
}

.home-projects {
  background: url("../img/projects-home-bg.jpg") no-repeat center;
  background-size: cover;
}
.home-projects .home-content {
  max-width: 470px;
}

.catalog-projects {
  margin: 50px 0 0;
}
.catalog-projects .nav-pagination {
  margin: 0 auto;
}

.sidebar {
  max-width: 307px;
  width: 100%;
  padding: 22px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 16px 0 rgba(72, 72, 72, 0.19);
          box-shadow: 0 0 16px 0 rgba(72, 72, 72, 0.19);
  border: solid 2px #dadada;
  background-color: #fff;
}
.sidebar__close {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.sidebar__close::before, .sidebar__close::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #0e63a6;
  top: 11px;
  left: 0;
}
.sidebar__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.sidebar__close::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.sidebar-head {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px;
}
.sidebar-head h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.catalog-content {
  width: calc(100% - 307px);
  padding: 0 0 0 20px;
}

.filter-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 18px 22px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 16px 0 rgba(72, 72, 72, 0.19);
          box-shadow: 0 0 16px 0 rgba(72, 72, 72, 0.19);
  border: solid 2px #dadada;
  background-color: #fff;
  margin: 0 0 30px;
}
.filter-wrapper .form-search {
  margin: 0 0 0 auto;
}

.sorting-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 500;
}
.sorting-box p {
  margin: 0 10px 0 0;
  color: #a3a3a3;
}

.dropdown-sorting:hover .dropdown-menu {
  display: none;
}
.dropdown-sorting .dropdown-toggle {
  color: #464646;
}
.dropdown-sorting .dropdown-toggle::after {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 0 0 6px;
  width: 13px;
  min-width: 13px;
  height: 7px;
  background: url("../img/arrow-bottom.png") no-repeat center;
  background-size: contain;
  border: none;
}
.dropdown-sorting .dropdown-toggle:hover {
  color: inherit;
}
.dropdown-sorting .dropdown-toggle.click::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.dropdown-sorting .dropdown-menu {
  margin: 13px 0 0;
  min-width: 196px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 16px 0 rgba(72, 72, 72, 0.19);
          box-shadow: 0 0 16px 0 rgba(72, 72, 72, 0.19);
  border: solid 2px #dadada;
  background-color: #fff;
  padding: 9px 20px;
}
.dropdown-sorting .dropdown-item {
  margin: 0 0 8px;
  color: #464646;
  font-size: 12px;
  position: relative;
}
.dropdown-sorting .dropdown-item:hover {
  color: #0e63a6;
}
.dropdown-sorting .dropdown-item::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 2px;
  width: 11px;
  height: 10px;
  background: url("../img/check.png") no-repeat center;
  background-size: 100%;
  opacity: 0;
}
.dropdown-sorting .dropdown-item.active::before {
  opacity: 1;
}

.panel_heading-sidebar {
  margin: 0 0 30px;
}
.panel_heading-sidebar:last-child {
  margin: 0;
}
.panel_heading-sidebar .panel_heading-icon {
  background: url("../img/arrow-bottom.png") no-repeat center;
  background-size: contain;
  width: 13px;
  height: 7px;
  margin: 0 0 0 auto;
}
.panel_heading-sidebar.in .panel_heading-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.panel_heading-sidebar .block_title {
  padding: 0 5px 0 10px;
}
.panel_heading-sidebar .block_hover {
  padding: 20px 0 0;
}

.list-checkbox-filter li {
  margin: 0 0 10px;
}
.list-checkbox-filter li:last-child {
  margin: 0;
}

.btn-filter {
  margin-left: auto;
  padding: 10px 20px;
  text-transform: none;
}
.btn-filter img {
  width: 16px;
  margin: 0 10px 0 0;
}

.home-project {
  background: url("../img/project-home-bg.jpg") no-repeat center;
  background-size: cover;
}

.prices-project h2 {
  max-width: 900px;
}

.prices-project-wrapper {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 16px 0 rgba(72, 72, 72, 0.19);
          box-shadow: 0 0 16px 0 rgba(72, 72, 72, 0.19);
  border: solid 2px #dadada;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prices-project-box {
  width: 100%;
  margin: 0 0 20px;
}
.prices-project-box__head {
  width: 100%;
  padding: 0 0 16px;
  margin: 0 0 20px;
  border-bottom: 1px solid #dadada;
}
.prices-project-box h3 {
  text-transform: uppercase;
  color: #0e63a6;
  font-weight: bold;
}
.prices-project-box .mini-description {
  font-size: 13px;
  margin: 25px 0 0;
  max-width: 292px;
}
.prices-project-box__body {
  width: 100%;
}
.prices-project-box__body ul {
  max-width: 302px;
  font-size: 13px;
  margin: 0 0 20px;
}
.prices-project-box__body ul:first-child li {
  margin: 0;
}
.prices-project-box__body ul:last-child {
  margin: 0;
}
.prices-project-box__body ul li {
  margin: 0 0 20px;
}
.prices-project-box__body ul li:last-child {
  margin: 0;
}
.prices-project-box__body .list-dots {
  list-style: none;
}
.prices-project-box__body .list-dots li::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  min-width: 4px;
  border-radius: 50%;
  background: #212856;
  margin: 0 5px 3px 0;
}
.prices-project-box__body .list-dots .no-active {
  color: #aaa;
}
.prices-project-box__body .box-text {
  text-indent: 13px;
}
.prices-project-box .price-project-val {
  font-size: 16px;
  font-weight: bold;
  color: #0e63a6;
  margin: 20px 0 0;
  padding: 0 0 0 10px;
}

.object-section .section-subtext {
  max-width: 865px;
  margin: 0 auto 20px;
  font-size: 16px;
}
.object-section .section-subtext p {
  margin: 0 0 20px;
}
.object-section .section-subtext p:last-child {
  margin: 0;
}

.price-details {
  color: #0e63a6;
  font-weight: bold;
  margin: 20px 0 0;
}

.object-characteristics {
  max-width: 350px;
  width: 100%;
}

.object-characteristics-list li {
  margin: 0 0 20px;
}
.object-characteristics-list li:last-child {
  margin: 0;
}
.object-characteristics-list li span {
  margin: 0 10px 0 0;
}

.object-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.object-gallery {
  width: calc(100% - 350px);
  padding: 0 25px 0 0;
}

.object-gallery-max .object-gallery-item {
  position: relative;
}
.object-gallery-max .object-gallery-item::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: rgba(48, 48, 48, 0.76) url("../img/loupe.png") no-repeat center;
  background-size: 26px;
}

.object-gallery-item {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.object-gallery-item img {
  width: 100%;
}

.object-gallery-preview {
  margin: 35px 0 0;
}
.object-gallery-preview .slide {
  padding: 0 8px;
  opacity: 0.6;
}
.object-gallery-preview .slick-current {
  opacity: 1;
}
.object-gallery-preview .slick-list {
  margin: 0 -8px;
}
.object-gallery-preview .object-gallery-item {
  height: 112px;
  width: 100%;
}
.object-gallery-preview .object-gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.price-object {
  font-size: 18px;
  margin: 0 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.price-object h3 {
  margin: 0 5px 0 0;
  text-transform: uppercase;
  color: #0e63a6;
  font-weight: bold;
}
.price-object__val {
  display: block;
  color: #464646;
}