@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #464646;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border: none;
  border-bottom: 1px solid #212856;
  border-radius: 0;
  width: 100%;
  height: 33px;
  background: transparent;
  color: #464646;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #464646;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #464646;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #464646;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #464646;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #464646;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 20px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 16px 30px;
  font-size: 16px;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}
.btn::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  z-index: -1;
}
.btn:hover::before {
  width: 100%;
}

.btn-accent {
  background: #212856;
  color: #fff;
}
.btn-accent::before {
  background: #0e63a6;
}

.btn-submit {
  padding: 19px 68px;
  font-weight: 500;
  background: rgba(0, 3, 25, 0.85);
}
.btn-submit::before {
  background: #0e63a6;
}

.btn-blue {
  background: #0e63a6;
  color: #fff;
}
.btn-blue::before {
  background: #212856;
}

.btn-border-white {
  border: 1px solid #fff;
  color: #fff;
}
.btn-border-white::before {
  background: #212856;
}
.btn-border-white:hover {
  color: #fff;
}

.btn-sm {
  padding: 14px 28px;
}

.btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.container {
  width: 100%;
  max-width: 1054px;
  padding: 0 22px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.row {
  margin: 0 -22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-max .container {
  max-width: 1170px;
}

.container-my {
  max-width: 1170px;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-accent {
  color: #212856;
}

a.color-accent {
  color: #212856;
}
a.color-accent:hover {
  color: #0e63a6;
}

a.color-inherit {
  color: inherit;
}
a.color-inherit:hover {
  color: inherit;
}

a.color-blue {
  color: #0e63a6;
}
a.color-blue:hover {
  color: #212856;
}

.bg-grey {
  background: #e6e6e6;
}

h1, h2 {
  width: 100%;
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  margin: 0 auto 20px;
  text-transform: uppercase;
  color: #0e63a6;
}

.m-100 {
  margin: 60px 0;
}

.w-100 {
  width: 100%;
}

.col-6 {
  width: 50%;
  padding: 0 15px;
}

.col-3 {
  width: 33.33%;
  padding: 0 22px;
}

.col-25 {
  width: 25%;
  padding: 0 22px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-75 {
  margin-bottom: 35px;
}

.mb-80 {
  margin-bottom: 35px;
}

.m-auto {
  margin: 0 auto;
}

.d-inline {
  display: inline-block;
}

.btn-all {
  margin: 40px auto 0;
  padding: 16px 20px;
  min-width: 228px;
  font-weight: 500;
}
.btn-all.m-auto {
  margin: 0 auto;
}

.breadcrumb {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 20px;
  color: #fff;
  font-size: 16px;
}
.breadcrumb li a {
  color: #fff;
}
.breadcrumb li a::after {
  content: ">";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 5px;
}
.breadcrumb li a:hover {
  color: #ccc;
}

.dropdown {
  position: relative;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 0 0 5px;
  border-top: 8px solid #fff;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  min-width: 104px;
  background: rgba(0, 0, 0, 0.57);
  border-radius: 3px;
  padding: 9px 6px;
}

.dropdown-item {
  font-size: 15px;
  color: #fff;
  margin: 0 0 4px;
}
.dropdown-item:last-child {
  margin: 0;
}
.dropdown-item:hover {
  color: #ccc;
}

.home-page {
  padding: 126px 0 68px;
  color: #fff;
  mix-blend-mode: multiply;
  min-height: 676px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.home-page .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-page h1 {
  font-size: 30px;
  font-weight: 500;
}
.home-page .home-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 20px;
}
.home-page form input {
  color: #fff;
  border-color: #fff;
}
.home-page form input::-webkit-input-placeholder {
  color: #fff;
}
.home-page form input::-moz-placeholder {
  color: #fff;
}
.home-page form input:-ms-input-placeholder {
  color: #fff;
}
.home-page form input::-ms-input-placeholder {
  color: #fff;
}
.home-page form input::placeholder {
  color: #fff;
}
.home-page .text-description {
  margin: 10px 0 20px;
}

.box-text {
  line-height: 1.25;
}
.box-text p {
  margin: 0 0 20px;
}
.box-text p:last-child {
  margin: 0;
}
.box-text ul {
  margin: 20px 0;
}
.box-text ul li {
  margin: 0 0 20px;
}
.box-text ul li:last-child {
  margin: 0;
}
.box-text ul strong {
  font-weight: 500;
}

.list-indent {
  text-indent: 10px;
}

.nav-pagination {
  margin: 100px 0 0;
  width: 100%;
}

.pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
}
.pagination li {
  margin: 0 2px 0 0;
}
.pagination li:last-child {
  margin: 0;
}
.pagination li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #0e63a6;
  border-radius: 2px;
  width: 18px;
  height: 18px;
  min-width: 18px;
  text-align: center;
  color: #0e63a6;
}
.pagination li a:hover {
  color: #fff;
  background: #212856;
}
.pagination li a.active {
  background: #0e63a6;
  color: #fff;
}
.pagination li .pagination-arrow {
  border: none;
}
.pagination li .pagination-arrow:hover {
  background: transparent;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 1;
  z-index: 1;
  cursor: pointer;
  border: none;
  border-radius: 0;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15px;
  height: 27px;
}

.slick-prev {
  left: 0;
  background: url("../img/prev.png") no-repeat center;
  background-size: 100%;
}

.slick-next {
  right: 0;
  background: url("../img/next.png") no-repeat center;
  background-size: 100%;
}

.slick-dots {
  list-style: none;
  padding: 0;
  bottom: 0;
  position: relative;
  width: 100%;
  margin: 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #212856;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 6px 0 0;
}
.slick-dots li:last-child {
  margin: 0;
}
.slick-dots li button {
  display: none;
}
.slick-dots li.slick-active {
  width: 33px;
  border-radius: 4.6px;
}

.label-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 15px 0 0;
  line-height: 1.14;
}

.inp-check {
  display: none;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  min-width: 16px;
  cursor: pointer;
}

.inp-check:checked ~ .checkbox-custom {
  background: #fff url("../img/check-black.svg") no-repeat center;
  background-size: 8px;
}

.text-description {
  font-size: 22px;
}
.text-description p {
  margin: 0 0 20px;
}
.text-description p:last-child {
  margin: 0;
}

.section-subtext {
  margin: 0 auto;
  max-width: 770px;
}

.article-description {
  font-size: 18px;
}
.article-description p {
  margin: 0 0 20px;
}
.article-description p:last-child {
  margin: 0;
}

.fixed-btn {
  position: fixed;
  z-index: 10;
  width: 85px;
  height: 85px;
  padding: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.fixed-btn::before, .fixed-btn::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  -webkit-animation: pulse 1.5s linear infinite;
          animation: pulse 1.5s linear infinite;
}
.fixed-btn:before {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
  width: calc(100% + 24px);
  height: calc(100% + 24px);
}
.fixed-btn img {
  position: relative;
  z-index: 1;
}

.fixed-btn-whatsapp {
  background: #55cd6c;
  right: 40px;
  bottom: 125px;
}
.fixed-btn-whatsapp::before {
  background: rgba(85, 205, 108, 0.2);
}
.fixed-btn-whatsapp:after {
  background: rgba(85, 205, 108, 0.4);
}

.fixed-btn-chat {
  right: 98px;
  bottom: 40px;
  background: #0e63a6;
}
.fixed-btn-chat::before {
  background: rgba(14, 99, 166, 0.2);
}
.fixed-btn-chat:after {
  background: rgba(14, 99, 166, 0.4);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
            transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
            transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
}
.list-checked li {
  position: relative;
  padding: 0 0 0 20px;
}
.list-checked li::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 15px;
  left: 0;
  top: 2px;
  background: url("../img/checked.png") no-repeat center;
  background-size: 100%;
}

.list-check li::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 12px;
  height: 12px;
  background: url("../img/check-icon.png") no-repeat center;
  background-size: 100%;
  margin: 0 5px 0 0;
}

.type-object-wrapper {
  margin: 30px 0 0;
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.list-social li {
  margin: 0 10px 0 0;
}
.list-social li:last-child {
  margin: 0;
}
.list-social li a {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.js-tab-content {
  display: none;
}
.js-tab-content.active {
  display: block;
}

.js-tab-trigger.active {
  text-decoration: underline;
  color: #212856;
}

.tabs {
  width: 100%;
}

.tab-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tab-content__title {
  max-width: 113px;
  width: 100%;
}
.tab-content__title h3 {
  font-size: 18px;
  font-weight: bold;
  color: #212856;
}
.tab-content__item {
  width: calc(100% - 113px);
}

.tab-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #212856;
  font-size: 18px;
  margin: 0 0 20px;
}
.tab-header li {
  cursor: pointer;
  margin: 0 0 10px;
}

.box-overlay__img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 360px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #e6e6e6;
}
.box-overlay__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-overlay__img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.52;
  background-color: #060606;
}
.box-overlay__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}
.box-overlay:hover .box-overlay__btn {
  opacity: 1;
}
.box-overlay:hover .box-overlay__img::before {
  height: 100%;
}