/*==========	Desktop First	==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1400px)
	.callback-article
		background-size: contain

	.warranty-house__img
		max-width: 600px
		min-width: 600px

@media only screen and (max-width: 1200px)
	.footer-contacts
		margin: 0 0 0 auto

	.warranty-house__content
		max-width: 500px
		min-width: 500px

	.payments-variable-card__val
		font-size: 18px

	.col-25
		width: 50%

	.list-bank
		margin: 0

@media only screen and (max-width: 992px)
	.btn-burger
		display: flex

	.header-bottom
		display: none
		position: fixed
		right: 0
		left: auto
		top: 0
		z-index: 3
		max-width: 290px
		padding: 20px 15px
		height: 100%
		overflow-y: auto
		&::before
			display: none

	.menu
		flex-direction: column
		li
			width: 100%
			>a
				width: 100%
				padding: 5px 0

	.nav-menu
		margin: 0 0 20px
		&__close
			display: block

	.btn-callback
		margin: 0 0 0 20px

	.header-box
		font-size: 14px
		margin: 0 0 0 15px

	.logo
		max-width: 90px

	.home-page
		padding: 60px 0 30px
		min-height: auto
		display: block

	.breadcrumb
		margin: 0 0 30px
		font-size: 14px

	.text-description
		font-size: 18px

	.home-news .form
		margin: 30px 0 0
		.btn-submit
			margin: 30px 0 0

	.list-messanger li a
		width: 22px

	.container
		padding: 0 15px

	.row
		margin: 0 -15px

	.news
		margin: 50px 0 0

	footer
		margin: 50px 0 0
		font-size: 14px
		.logo
			margin: 0 auto 0 0
			max-width: 130px

	.footer-box
		margin: 0 0 0 30px

	.nav-pagination
		margin: 30px auto 0

	.callback-article
		background-size: cover
		.box-text
			font-size: 18px

	.type-object-box
		max-width: 49%

	.special-text
		padding: 20px

	.warranty-house
		.container
			flex-wrap: wrap
		&__content
			min-width: auto
			max-width: 100%
		&__img
			min-width: auto
			max-width: 400px
			margin: 20px auto 0

	.works-box__img
		height: 200px

	.col-3, .col-25, .col-6
		padding: 0 15px

	.card-product__img
		height: 260px

	.about-credit__img
		max-width: 700px

	.about-credit-box
		max-width: 500px

	.credit-steps-box
		margin: 0 0 20px
		max-width: none
		&__body
			max-width: none
			padding: 0 0 0 15px
			.box-text
				max-width: none
		&::after
			display: none
		&:nth-child(even)
			margin: 0 0 20px
			.credit-steps-box__body
				max-width: none

	.sidebar-projects
		position: fixed
		left: 0
		top: 0
		width: 100%
		height: 100%
		overflow-y: auto
		z-index: 5
		border-radius: 0
		padding: 30px 20px
		display: none

	.catalog-content
		width: 100%
		padding: 0

	.filter-wrapper
		padding: 10px
		.form-search
			width: 100%
			margin: 10px 0 0
			max-width: none

@media only screen and (max-width: 768px)
	.header-top
		.phone-wrapper
			display: none

	.new-box
		&__img
			max-width: none
		&__content
			width: 100%
			padding: 20px 0 0
			.box-text
				margin: 0 0 20px

	.footer-wrapper
		width: 100%
		order: 1
		margin: 20px 0 0
		justify-content: space-between

	.payments-box
		order: 2
		width: fit-content
		margin: 20px auto 0

	.footer-bottom
		margin: 20px auto 15px

	.footer-contacts-link
		margin: 0 0 10px

	.fixed-btn
		width: 60px
		height: 60px
		right: 20px
		bottom: 70px

	.fixed-btn-chat
		right: 50px
		bottom: 10px

	.callback-section
		background: #e6e6e6

	.callback-article .callback-content
		max-width: none

	.form-callback
		max-width: none
		.btn-submit
			margin: 20px auto 0

	.list-messangers-call
		margin: 20px 0 0
		justify-content: center
		display: flex
		flex-direction: column
		align-items: center

	.btn-all
		margin: 30px auto 0

	.col-3
		width: 50%

	.mb-50
		margin-bottom: 30px

	.employee-box
		height: 350px

	.welcome-content
		max-width: none
		padding: 0

	.welcome-map
		width: 100%
		margin: 20px 0 0

	.contacts-box
		margin: 0 0 30px

	.about-credit
		padding: 50px 0 40px
		&__img
			max-width: 500px

@media only screen and (max-width: 576px)
	.col-6
		width: 100%

	.category-house-box
		height: auto
		margin: 0 0 20px

	.type-object-box
		max-width: 100%
		&__body
			padding: 20px 0 0

	.callback-article
		padding: 40px 0

	.col-3
		width: 100%

	.works-box__img
		height: auto

	.employee-slider
		padding: 0 20px
		.slick-slide
			padding: 0

	.contacts-box
		font-size: 16px

	.tab-header
		font-size: 16px
		justify-content: flex-start
		li
			margin: 0 10px 5px 0
			&:last-child
				margin: 0 0 5px

	.tab-content
		&__title
			width: 100%
			max-width: none
			margin: 0 0 15px
		&__item
			width: 100%

	.card-product__body
		padding: 20px 0 0

	.col-25
		width: 100%

	.about-credit
		padding: 40px 0
		&__img
			display: none

	.credit-steps-box
		&__icon
			width: 80px
			height: 80px
			min-width: 80px
		&__body
			width: calc(100% - 80px)

@media only screen and (max-width: 480px)
	.header-top .btn-callback
		display: none

	.footer-wrapper
		flex-wrap: wrap

	.footer-box
		width: 50%
		margin: 0 0 10px
		&:first-child
			margin: 0 0 10px

	.payments-box
		margin: 10px auto 0

	.footer-contacts-link__icon
		width: 18px
		margin: 0 8px 0 0

	footer .logo
		max-width: 100px

	.home-page h1
		font-size: 24px

@media only screen and (max-width: 420px)

@media only screen and (max-width: 370px)

@media only screen and (min-width: 992px)
	h1
		font-size: 55px

	h2
		font-size: 36px
		margin: 0 auto 50px

	.modal-title
		font-size: 26px

	input, textarea, select
		font-size: 24px

	label
		margin: 0 0 32px

	.home-page

		h1
			font-size: 44px
		.text-description
			margin: 18px 0 50px
		.form
			margin: 50px 0 0

	.header-bottom
		.header-box, .btn-callback
			display: none

	.new-box
		margin: 0 0 50px
		padding: 0 0 50px
		&__head
			margin: 0 0 22px
		.date
			margin: 24px 0 22px
		&__content
			padding: 0 0 0 68px
			width: calc(100% - 420px)
		&__img
			max-width: 420px

	.article-description
		font-size: 24px
		p
			margin: 0 0 30px
			&:last-child
				margin: 0

	.m-100
		margin: 100px 0

	.category-house-box
		font-size: 24px
		.category-house-box
			&__btn
				font-size: 22px
				padding: 18px 70px

	.type-object-box
		margin: 0 0 100px

	.category-house
		margin: 30px 0 0

	.sizing-objects, .article-section
		.category-house
			margin: 100px 0 0

	.form-callback
		margin: 50px 0 0

	.list-advantages
		font-size: 22px

	.callback-section
		.box-text
			font-size: 22px

	.works-box, .service-box, .card-product, .box-overlay
		&__name
			font-size: 22px
		&__btn
			font-size: 22px
			padding: 20px 72px

	.warranty-house-box
		margin: 45px 0 0
		h3
			margin: 0 0 25px

	.about-advantages
		padding: 80px 0 30px

	.mb-75
		margin-bottom: 75px

	.about-advantages-box
		max-width: 263px

	.home-services
		h1
			font-size: 36px
			margin: 0 0 70px

	.service-box__body
		padding: 40px 30px

	.services-section .section-subtext
		margin: 0 auto 50px

	.advantages-services-box
		max-width: 270px

	.useful-articles-box
		max-width: 322px
		&__body
			padding: 30px 0 0

	.home-contacts
		.text-description
			margin: 20px 0 60px

	.welcome
		.box-text
			margin: 50px 0

	.contacts-box
		font-size: 21px

	.link-requizites
		margin: 0 0 0 70px

	.mb-80
		margin: 0 0 80px

	.home-category
		.form
			margin: 50px 0 0

	.card-product
		.price
			text-align: right

	.category-section
		.nav-pagination
			margin: 40px auto 0
		.tabs
			margin: 0 0 100px

	.payments-variable
		margin: 100px 0 60px

	.type-object-wrapper
		margin: 67px 0 0

	.question
		padding: 75px 0 80px

	.filter-wrapper
		margin: 0 0 140px

	.btn-filter
		display: none

	.sidebar-head
		display: none

	.catalog-content
		padding: 0 0 0 53px
